# Whitelist-based approach to files and directories associated with this project.

# First ignore everything.
*

# Whitelist directories.
!*/

# Whitelist basic Git files.
!.gitignore
!LICENSE
!*.md

# Whitelist Visual Studio files.
!*.sln
!*.vcxproj
!*.vcxproj.filters

# Whitelist source code files.
!*.hpp
!*.h
!*.c
!*.cpp
!*.tlb
!*.ico
!*.rc

# Whitelist other files
!*.txt
